@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

$headers-font: 'Molle', cursive;

h1 {
  text-align: center;
  font-family: $headers-font;

  strong {
    font-weight: normal;
    background: green;
    color: white;
    border-radius: 100px;

    &:before, &:after {
      content: '_';
      color: transparent;
    }
  }
}
