@import url(http://fonts.googleapis.com/css?family=Molle:400italic);
h1 {
  text-align: center;
  font-family: "Molle", cursive; }
  h1 strong {
    font-weight: normal;
    background: green;
    color: white;
    border-radius: 100px; }
    h1 strong:before, h1 strong:after {
      content: '_';
      color: transparent; }
